html {

    background-color: #000;

}

.bgtop {

    color: #fff;
    padding-top: 0.5%;
    padding-left: 4%;
    padding-bottom: 0.5%;
    background-color: #202020;

}

.search {
    text-align: center;
    width: 100%;
    height: 6.3%;
    color: #fff;
    background-color: #101010;
    border: 0;

}

.btns {

    background-color: #202020;

}

.submit {

    color: #ffffff;
    background-color: #202020;
    border: 0;
    width: 100%;
    height: 6.3%;

}


.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: auto;
    padding: 1vw;
    color: #fff;
    background-color: #202020;
}